[Unit]
Description=Stalwart Mail and Collaboration Server
Documentation=https://stalw.art/docs/
Requires=systemd-resolved.service
After=systemd-resolved.service
Conflicts=postfix.service sendmail.service exim.service exim4.service

[Service]
Type=exec
User=stalwart
Group=stalwart
WorkingDirectory=/var/lib/stalwart
Environment="LD_PRELOAD=libhardened_malloc.so libno_rlimit_as.so"
ExecStart=/usr/bin/stalwart --config=/etc/stalwart/config.json
Restart=on-failure
RestartSec=5s
TimeoutStopSec=120s
KillMode=mixed
KillSignal=SIGINT
SyslogIdentifier=stalwart

RuntimeDirectory=stalwart
RuntimeDirectoryMode=0700
StateDirectory=stalwart
StateDirectoryMode=0700
LogsDirectory=stalwart
LogsDirectoryMode=0700
UMask=0077

AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
NoNewPrivileges=yes
DevicePolicy=closed
KeyringMode=private
LockPersonality=yes
MemoryDenyWriteExecute=yes
PrivateDevices=yes
PrivateMounts=yes
PrivateTmp=yes
ProcSubset=pid
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service

LimitNOFILE=65536
TasksMax=4096
OOMPolicy=stop

[Install]
WantedBy=multi-user.target
